<html>
<head>
    {{content_for_header}}
{{'style.css'| asset_url | stylesheet_tag}}
{{ '//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' | script_tag }}
{{ '//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' | stylesheet_tag }}
{{ '//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css' | stylesheet_tag }}
</head>

<body>

{% render 'header' %}
  
<!-- {% render 'main-collection' %} -->
 {{content_for_layout}}

   

 {{'scripts.js'|asset_url | script_tag}}
</body>
</html>