<html>
<head>
    {{content_for_header}}
{{'style.css'| asset_url | stylesheet_tag}}
</head>

<body>

{% render 'header' %}
 <!-- {{content_for_layout}} -->

    <h2>{{ collections['frontpage'].title }}</h2>

{% for product in collections['frontpage'].products %}
  <div>
      <img src={{ product.featured_image | image_tag }}/>
       <h4>{{ product.title }}</h4> 
        <p>{{ product.price }}</p>
    
  </div>
  {{- product.title | link_to: product.url }}
{% endfor %}

 {{'scripts.js'|asset_url | script_tag}}
</body>
</html>