{% form 'cart', cart %}

<h1>Cart</h1>

{% if cart.empty? %}

  <p>Hye! Your cart is Empty Bruuh</p>
{% else %}
{% for item in cart.items %}

    <div>

      <img src="{{ item.image | image_url: width:300}}"/>
      <h4>{{ item.title }}</h4>
      <p>{{ item.final_line_price | money }}</p>
      <input name="updates[]" value="{{ item.quantity }}" >
      <a href="{{ item.url_to_remove }}">Remove</a>
    </div>
  {% endfor %}
      <p>Total: {{ cart.total_price|money }}</p>
      <button type="submit" name="update"> Update Cart</button>
      <button type="submit" name="checkout">Checkout</button>
  {% endif %}
{% endform %}