{% form 'cart', cart %}

<h1>Cart</h1>

{% if cart.empty? %}

  <p>Hye! Your cart is Empty Bruuh</p>
{% else %}
<div class="container">
    <div class=row>
     {% for item in cart.items %}
    
        <div class="col-lg-4">
    
          <img src="{{ item.image | image_url: width:300}}"/>
      
          <h4>{{ item.title }}</h4>
          <p>{{ item.final_line_price | money }}</p>
          <input  class="form-control" name="updates[]" value="{{ item.quantity }}" >
          <a href="{{ item.url_to_remove }}">Remove</a>
        </div>
      {% endfor %}
    </div>

    <div class=row>
        <div class="col-lg-8"></div>
        <div class="col-lg-4">
          
          <table class="table mt-5">
            <tr>
              <td> Total Items: </td>
              <td>{{ cart.item_count }}</td>
            </tr>
            <tr>
              <td> Total: </td>
              <td>{{ cart.total_price|money }}</td>
            </tr>
            <tr>
              <td colspan=4>
                <label  class="" >Gift note:</label>
                <textarea class="form-control" name="note"></textarea>
              </td>
            </tr>
            <tr>
              <td>
               <button  class="form-control" type="submit" name="update"> Update Cart</button></td>
              <td>
              <button  class="form-control" type="submit" name="checkout">Checkout</button>
                
              </td>
            </tr>
          </table>
        </div>
    </div>
  </div>
    

   
      
     
  {% endif %}
{% endform %}