 <h2>{{ collections['frontpage'].title }}</h2>

{% for product in collections['frontpage'].products %}
  <div>
    <a href="{{ product.url }}">
      <img src="{{ product.featured_image | img_url }}"/>
       <h4>{{ product.title }}</h4> 
        <p>{{ product.price | money}}</p>
    </a>
  </div>
  {{ product.title | link_to: product.url }} 
{% endfor %}