<h1>This is product page!</h1>
<img height="300" src="{{ product.featured_image | image_url }}"/>
<h3>{{ product.title }}</h3>
<p>{{ product.price | money }}</p>
<div>{{ product.description }}</div>
{% form 'product', product %}

  <select name="id">
    {% for product in products  %}
      <option value="{{ product.id }}">
        {{ product.title }}
      </option>
      {% endfor %}
  </select>

  <button type="submit">Add to Cart</button>
  {% endform %} 