<h1>This is product page!</h1>


 <div class="card" style="width: 18rem;">
   <img class="card-img-top"  alt="Card image cap" src="{{ product.featured_image | image_url }}"/>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> 



<h3>{{ product.title }}</h3>
<p>{{ product.price | money }}</p>
<div>{{ product.description }}</div>
{% form 'product', product %}

  <select name="id">
    {% for variant in product.variants  %}
      <option value="{{variant.id }}">
        {{ variant.title }}
      </option>
      {% endfor %}
  </select>

  <button type="submit">Add to Cart</button>
  {% endform %} 