<h1>This is product page!</h1>
<h3>{{ product.title }}</h3>
<p>{{ product.price | money }}</p>
<div>{{ product.description }}</div>
{% form 'product', product %}

  <select name="id">
    {% for variant in product.variants  %}
      <option value="{{ product.id }}">
        {{ variant.title }}
      </option>
      {% endfor %}
  </select>
  {% endform %} 