<h1>This is product page!</h1>


 <div class="card" style="width:30rem;">
   <img class="card-img-top"  alt="Card image cap" src="{{ product.featured_image | image_url }}"/>
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.description }}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> 




<p>{{ product.price | money }}</p>
<div></div>
{% form 'product', product %}

  <select name="id">
    {% for variant in product.variants  %}
      <option value="{{variant.id }}">
        {{ variant.title }}
      </option>
      {% endfor %}
  </select>

  <button type="submit">Add to Cart</button>
  {% endform %} 